.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: 1s;
  z-index: 9999;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid rgb(20, 20, 20);
  border-top-color: #55d89c;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.display {
  display: none;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
