.input-container {
  margin-right: 10px;
}
.card-title {
  margin-bottom: 20px;
}

.inputs {
  border-radius: 10px;
  margin: 10px 5px 5px 5px;
  background-color: rgba(39, 25, 25, 0.062);
  height: 35px;
  box-shadow: 0px 0px 4px white !important;
  border: 1px;
  border-color: white;
  color: white;

  &:focus {
    outline-color: #55d89c;
  }
}

.input-warning {
  font-size: 13px !important;
  color: crimson;
}

.input-name {
  margin-top: 7px;
}

.submit-button {
  margin-top: 30px;
}

.submit {
  border-radius: 10px;
  padding: 10px;
  max-width: 100px;
  background-color: #3d20509f;
  box-shadow: 0px 0px 4px white !important;
  border: 0.5px white;
  color: white;
  transition: 0.2s;
  transition-delay: 0.1s;

  &:hover {
    transform: scale(1.05);
    background-color: #55d89c;
    box-shadow: 0px 0px 5px #55d89c, 0px 0px 15px #55d89c, 0px 0px 30px #55d89c !important;
    color: black;
  }
  &:active {
    transform: scale(0.95);
  }
}

.form-container {
  margin: 5px;
  padding: 0px 20px 0px 20px;
}

.disabled-button {
  box-shadow: none !important;
  background-color: #1e0f279f !important;
  border: none !important;
  &:hover {
    transform: scale(1) !important;
    background-color: #55d89c;
    box-shadow: none !important;
    color: black;
  }
  &:active {
    transform: scale(1);
  }
}

.dismiss-column {
  margin: 1px 1px 20px 0px;
}

.dismiss-button {
  position: relative;
  z-index: 9999;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.loader-column {
  margin: 0px 0px 20px 0px;
}

.modal-image {
  width: 170px;
  height: 170px;
}

.modal-image2 {
  max-height: 100px;
  margin-bottom: 10px;
}

.modal-loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #55d89c;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

/** Keyframes */

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/** Media Querys */

@media (max-width: 575px) {
  .inputs {
    height: 30px !important;
  }
  .form-container {
    padding: 12px;
  }
}

@media (max-width: 343px) {
  .inputs {
    height: 25px !important;
  }
}
