.navbar {
  background-color: #3d20509f;
  overflow: hidden;
  z-index: 100;
}

.menu-options {
  color: white !important;
}

.logo {
  width: 280px;
  height: 68px;
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.navbar-collapse {
  text-align: center;
}

@media (min-width: 992px) {
  .logo {
    padding-left: 150px;
  }
}

@media (max-width: 992px) {
  .logo {
    max-width: 140px !important;
  }
}
